* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: cadetblue;

    header{
        position: relative;
        .navbar{
            background-color: blue !important;
            color: #ffffff;
        }
    }
    main{
        padding: 5rem 0rem;
    }
  }
  