* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-container {
  width: 85%;
  margin: auto;
  margin: 1rem  auto;
  padding: 1rem 0rem;
}

body {
  background-color: white;
}

body header {
  position: relative;
}

body header .navbar {
  background-color: #55A9EE !important;
  color: #ffffff;
}

body main {
  padding: 5rem 0rem;
}
.btn-personal {
  background:#55A9EE !important;
}
.secondcontainer {
  background: red;
}


*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}



h3 {
  width: 100%;
  min-height: 0px;
  line-height: px;
  color: rgba(0,0,0,.4);
  text-transform: uppercase;
 
}
h3  {
  display: inline;
  text-decoration: none;
  color: rgba(0,0,0,.4);
  z-index: 1;
}
h3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: rgb(104, 109, 105);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
h3:hover:before,
h3:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav ul li {
  display: inline-block;
  margin: 5px;
  

}

.nav {
  margin-top: 10px;
  
}
figcaption {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-fluid {
  width: 550px;
  height: 220px;
}
.img-nazkab , .img-qatar {
  width: 550px;
  height: 320px;
}


/* Button effects  */

.btn-one:hover span {
  letter-spacing: 2px;

}

.btn-one span {
  transition: all 0.3s;
  
}
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}

.bg-danger {
  background-color: #F60002 !important;
}


/* En chox oxunanlar */
.enchox {
  margin-top: 0;
}

.normal {
  
  margin-top: 8rem;
  height: 200px;
 
}
.long {
  margin-top: 2rem;
  height: 500px;
 
}
.high {
  
  margin-top:-12.5rem;
}
.hover:hover {
  background:rgb(240, 230, 230) !important;
}


/*en chox oxunanlar image*/
.artimg {
  margin-top: 12rem;
  height: 485px !important;
 
}
/*Asan right image*/
.artimg2 {
  margin-top: 8rem;
  height: 800px;
 
}

/*Asan buttons*/
.box-16 , .box-17 , .box-18 > .btn {
  width: 120px;
  padding: 10px;
}